@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	outline: none;
}

body, html{
	width: 100%;
	height: 100%;
}

body{
	background-color: #fafafa;
	font-family: Trebuchet MS, Helvetica;

}

header{
	width: 100%;
	padding: 10px 0.5% 0px 0.5%;
	background: transparent; 
	float: left;
	position: fixed;
} 

header #logo{ 
	color: #fff;
	cursor: pointer;
 }

 header #logo span{
 	font-size: 1.7em;
 	line-height: 45px;
 	margin-left: 40px;
 	font-family: 'Comfortaa', serif;
 }

 @media (min-width: 701px){
 	#logo {
 		float: left;
 		width: 30%;
 		font-size: 1.1em;

 	}
 	#about {
 		float: right;
 		width: 67%;

 	} 
 @media (max-width: 700px){
 	#logo {
 		padding: 15px;
 		width: 30%;
 		font-size: 1.5em;
 		
 	}
 	#about {
 		float: left;
 		width: 100%;
 	}
 }

 #about {
 	text-align: center;
 	font-size: 1em;
 	line-height: 40px;
 	margin-bottom: 10px;
 }

 #about > a {color: #fff;}
 #about > a:hover {
 	color: #b0b0b0;
 	text-decoration: underline;
 }
#about >a:not(:last-child) {
	margin-right: 7%;
}

.fixed {
	z-index: 5000;
	background-color: #fff;
	border-bottom: 1px solid silver;
}
header.fixed #logo {
	color: #343434;
}
.fixed #about a {
	color: #343434;
}
.fixed #about a:hover {
	color: #7c7c7c;
}

#top {
	width: 100%;
	height: 1000px;
	background-image: url(https://wallpaper.dog/large/20492255.jpg);
	background-blend-mode: multiply;
	background-color: #2e3a44;
	background-size: cover;
	text-align: center;
	color: #fff;
	font-size: 3em;
}
 @media (min-width: 1001px){
 	#top{
 		font-size: 3em;
 	}
 }
  @media (max-width: 1000px) and (min-width: 651px){
 	#top{
 		font-size: 2em;
 	}
 }
  @media (max-width: 650px){
 	#top{
 		font-size: 1.3em;
 		padding-top: 50%;
 	}
 }

#top h1{
	padding-top: 20%;

}

#top h3{
	color: #ccc;
}

#ability {

	float: left;
	background-color: #f6f6f6;
	border-top: 2px solid silver;
	color: #484848;
	font-size: 1.3em;

}
@media (min-width: 1401px){
	#ability {
		padding: 100px 20%;
		width: 60%;
	}
}
@media (max-width: 1400px){
	#ability {
		padding: 100px 10%;
		width: 80%;
	}
}
@media (max-width: 700px){
	#ability {
		width: 98%!important;
	}
}
#ability div {
	width: 48%;
	margin-right: 2%;
	float: left;
}

#ability h2 {font-size: 3em;}
#ability span {color: #a0a0a0;}

#abs {
	float: left;
	background-image: url(https://upload.wikimedia.org/wikipedia/ru/archive/2/20/20210622070145%21Steam_library.jpg);
	background-blend-mode: multiply;
	background-color: #4f1c75;
	background-size: cover;
	background-attachment: fixed;
	padding: 100px;
	width: 86.5%;
	text-align: center;
	color: #fff;
}

#abs h2 {font-size: 4em;}
#abs h4 {color: #ccc; font-size: 1.5em;}

#abs .img {
	float: left;
	width: 30%;
	margin-right: 5%;
	margin-top: 50px;
}

#abs .img:nth-child(odd) {
	margin-left: 18%;
}

#abs img {
	background: #fafafa;

	border: 2px solid silver;
	float: left;
	width: 100%;
	max-width: 500px;
}

#abs span {
	float: left;
	width: 100%;
	font-size: 2em;
	margin-top: 10px;

}

@media (max-width: 700px) {
	#abs .img {
		width: 80%;
		margin-right: 0!important;
		margin-left: 10%!important;

	}
}

#contact {
	width: 100%;
	float: left;
	padding-bottom: 40px;
	padding-top: 70px;
	border-top: 4px solid silver;
	background: #f4f4f4;
}
h1, h2 ,h3 ,h4 ,h5 ,h6 {
	font-family: "comfortaa", serif;
	font-weight: lighter;
}

#contact h5 {font-size: 3em, color: #4f4f4f;}
